<% breadcrumb :questions, @article %>
<div class='content-wrapper'>
	<article class='article-wrapper'>
		<%= render 'shared/articles/article_header', article: @article %>
		<div class='article-body'>
			<div class='article-questions'>
				<%= render 'shared/questions/question_index_header', article: @article %>
				<%= render 'shared/questions/question_list', questions: @questions %>
			</div>
		</div>
	</article>
	<div class='sidebar'>
		<%= render 'shared/articles/show_sidebar', article: @article %>
	</div>
</div>
