<div class='user-image'>
	<%= image_tag "user-placeholder.png" %>
</div>
<div class='user-username'>
	nucleogenesis
</div>
<div class='user-dropdown'>
	<nav>
		<ul>
			<li>
				<a href='#'>
					My Account
				</a>
			</li>
			<li>
				<a href='#'>
					Messages
				</a>
			</li>
			<li>
				<a href='#'>
					Log Out
				</a>
			</li>
		</ul>
	</nav>
</div>
