<div class='breadcrumbs'>
	<div class='crumb'>
		<a href='#'>Learn</a>
	</div>
	<div class='crumb-separator'>
		>
	</div>
	<div class='crumb'>
		<a href='#'>Street Fighter V</a>
	</div>
	<div class='crumb-separator'>
		>
	</div>
	<div class='crumb'>
		<a href='#'>Ryu</a>
	</div>
	<div class='crumb-separator'>
		>
	</div>
	<div class='crumb'>
		<span>Frame Data</span>
	</div>
</div>
<div class='content-wrapper'>
</div>
