<div class='content-wrapper'>
	<article class='article-wrapper'>
		<header class='article-header'>
			<h1>How To Use The Training Room Properly</h1>
			<div class='article-meta'>
				<span>Published 23 Feb 2016 by <a href="#">nucleogenesis</a></span>
				<span>Last Updated 29 Feb 2016 by <a href="#">XxN0SCOPExX</a></span>
			</div>
			<div class='tags'>
				<div class='tag'>
					<a href='#'>
						vs R. Mika
					</a>
				</div>
				<div class='tag'>
					<a href='#'>
						vs Birdie
					</a>
				</div>
				<div class='tag'>
					<a href='#'>
						Matchup Strategy
					</a>
				</div>
				<div class='tag'>
					<a href='#'>
						vs Alex
					</a>
				</div>
				<div class='tag'>
					<a href='#'>
						Zoning
					</a>
				</div>
				<div class='tag'>
					<a href='#'>
						vs Zangief
					</a>
				</div>
			</div>
		</header>
		<div class='article-body'>
			<section>
				<h2>Why Use The Training Room At All?</h2>
				<p>
					Because you suck. You don't win your matches. You have a win rate
					that is frankly embarassing. Every round you play, you think. You
					take the time to devise a strategy. You've played a lot and you can
					do your combos >90% of the time. You don't usually screw up your
					punishes when the opportunity comes and you have ideas on how to
					approach most matchups. 
				</p>
				<p>
					<b>But you still suck.</b>
				</p>
				<p>
					You have no footsies. You have no foresight. You haven't developed
					your godlike <em>Yomi</em> to the point where you are forcing the
					course of your matches. You feel confident but you have no actual
					confidence. You don't know what your opponent is doing or how to
					force your opponent to do the things you know he or she is going
					to do. You <em>are</em> fooling yourself.
				</p>
				<p>
					<b>That is what the Training Room is for.</b>
				</p>
			</section>
			<section>
				<h2>Hear Me Out!</h2>
				<p>
					I know that it sounds weird to say that in order to better approach
					your opponents and every matchup in the game you need to spend many
					hours playing against a static unmoving dummy in training mode. But 
					the time you spend in training will yield dividends far beyond what
					hours of online warrior throwdowns ever could.
				</p>
				<p>
					The next level is to not only have a vague idea of what you should
					do in any given situation-- it is not even knowing what the optimal
					response or next move in any situation is as objective fact. It is
					so much less about <em>knowing</em> and far more about putting in
					your reps. There is nothing more valuable for a player who loses in
					quick thinking situations than to repeatedly put yourself in that 
					situation and practice your response. You can explore the value of
					multiple responses for whichever opponenet or situation you are in.
				</p>
				<div class='video-embed-wrapper'>
					<iframe width='560' height='315' name="yt1" src="https://www.youtube.com/embed/cQxY7xRZZhc" frameborder='0' allowfullscreen></iframe>
					<div class='table-of-contents'>
						<ul>
							<li>
								<a href='?t=50' target="yt1">Piece 1</a>
							</li>
							<li>
								<a href='?t=50' target="yt1">Piece 1</a>
							</li>
							<li>
								<a href='?t=50' target="yt1">Piece 1</a>
							</li>
							<li>
								<a href='?t=50' target="yt1">Piece 1</a>
							</li>
							<li>
								<a href='?t=50' target="yt1">Piece 1</a>
							</li>
							<li>
								<a href='?t=50' target="yt1">Piece 1</a>
							</li>
							<li>
								<a href='?t=50' target="yt1">Piece 1</a>
							</li>
							<li>
								<a href='?t=50' target="yt1">Piece 1</a>
							</li>
							<li>
								<a href='?t=50' target="yt1">Piece 1</a>
							</li>
							<li>
								<a href='?t=50' target="yt1">Piece 1</a>
							</li>
							<li>
								<a href='?t=50' target="yt1">Piece 1</a>
							</li>
							<li>
								<a href='?t=50' target="yt1">Piece 1</a>
							</li>
							<li>
								<a href='?t=50' target="yt1">Piece 1</a>
							</li>
							<li>
								<a href='?t=50' target="yt1">Piece 1</a>
							</li>
							<li>
								<a href='?t=50' target="yt1">Piece 1</a>
							</li>
							<li>
								<a href='?t=50' target="yt1">Piece 1</a>
							</li>
						</ul>
					</div>
				</div>
				<p>
					If you've had Vega hit the wall and fly at you with his claws opening
					on you from in front and behind a hundred times you'll know exactly
					what moves you have that beat him out. Furthermore you'll have a 
					deep comprehension of the timing, spacing and inputs necessary to
					consistently demolish your opponent. Your brain won't waste time
					deciding what commands to send to your wrists and fingers, rather, it
					will respond to the game like Floyd Mayweather to an incoming jab. 
					When you've committed actions and responses to memory on that
					level you won't find yourself losing to situations like these.
				</p>
			</section>
			<section>
				<h2>Death By A Thousand Papercuts | Armor Between Your Fingers</h2>
				<p>
					Lets say your opponent has a move that does 2% damage but every time
					it is attempted against you, you fail to defend or counter it. So
					when your opponent approaches you and establishes their proper
					spacing, they will do a guaranteed 2% damage to you. It takes 50 of
					these attacks to kill you in a round. You could view this how many
					new players to Street Fighter games view fireballs. When you are
					put into a situation where you have no immediate, memory-baked
					response to your opponent you are far more likely to lose. You can
					know exactly what you should do to defeat the opposing strategy
					but you are unable to do this. <em>This is what you work on in
						the training room</em>
				</p>
			</section>
		</div>
	</article>
	<div class='sidebar'>
		<div class='article-sidebar-item-wrapper'>
			<h3>Latest Questions</h3>
			<a href="#">View All Questions</a>
			<div class='article-sidebar-item'>
				<a href='#'>
					<h4 class='article-sidebar-title'>
						What settings do you like when practicing punishes?
					</h4>
				</a>
				<div class='article-sidebar-user'>
					asked by <a href='#'>ROBYOMAMA</a> on 4 Apr 2016
				</div>
				<div class='article-sidebar-meta'>
					14 Answers
				</div>
			</div>
			<div class='article-sidebar-item'>
				<a href='#'>
					<h4 class='article-sidebar-title'>
						How much time should I spend in the training room?
					</h4>
				</a>
				<div class='article-sidebar-user'>
					asked by <a href='#'>sumguy</a> 25 Mar 2016
				</div>
				<div class='article-sidebar-meta'>
					8 Answers
				</div>
			</div>
			<div class='article-sidebar-item'>
				<a href='#'>
					<h4 class='article-sidebar-title'>
						Does anybody have recommendations on how to practice crush counters?
					</h4>
				</a>
				<div class='article-sidebar-user'>
					asked by <a href='#'>sn4k3yzeXx88xX</a> on 12 Mar 2016
				</div>
				<div class='article-sidebar-meta'>
					21 Answers
				</div>
			</div>
			<div class='beginners-guide-cta'>
				Ask A Question
			</div>
		</div>
		<div class='ad-filler'>
			Ad Space
		</div>
		<div class='article-sidebar-item-wrapper'>
			<h3>Latest Revision Suggestions</h3>
			<a href="#">View All Suggestions</a>
			<div class='article-sidebar-item'>
				<a href='#'>
					<h4 class='article-sidebar-title'>
						Grammatical errors fixed
					</h4>
				</a>
				<div class='article-sidebar-user'>
					suggested by <a href='#'>ROBYOMAMA</a> on 4 Apr 2016
				</div>
				<div class='article-sidebar-meta'>
					14 Comments
				</div>
			</div>
			<div class='article-sidebar-item'>
				<a href='#'>
					<h4 class='article-sidebar-title'>
						Added a bit to the section about recording/replaying the bot
					</h4>
				</a>
				<div class='article-sidebar-user'>
					suggested by <a href='#'>sumguy</a> 25 Mar 2016
				</div>
				<div class='article-sidebar-meta'>
					8 Comments
				</div>
			</div>
			<div class='article-sidebar-item'>
				<a href='#'>
					<h4 class='article-sidebar-title'>
						The part about people sucking should be removed, it hurts feelings.
					</h4>
				</a>
				<div class='article-sidebar-user'>
					suggested by <a href='#'>sn4k3yzeXx88xX</a> on 12 Mar 2016
				</div>
				<div class='article-sidebar-meta'>
					21 Comments
				</div>
			</div>
			<div class='beginners-guide-cta'>
				Suggest A Change
			</div>
		</div>
	</div>
</div>
