<% breadcrumb :article, @article %>
<div class='content-wrapper'>
	<article class='article-wrapper'>
		<%= render 'shared/articles/article_header', article: @article %>
		<div class='article-body'>
			<%= @article.content %>
		</div>
	</article>
	<div class='sidebar'>
		<%= render 'shared/articles/show_sidebar', article: @article %>
	</div>
</div>
