<div class='article-sidebar-item-wrapper'>
	<%= render 'shared/articles/sidebar/side_menu' %>
</div>

<div class='article-sidebar-item-wrapper'>
	<div class='sidebar-ctas'>
		<div class='article-action-button'>
			<a href='#' class='question-cta-button'>
				Ask A Question
			</a>
		</div>
		<div class='article-action-button'>
			<a href='#' class='revision-cta-button'>
				Suggest A Change
			</a>
		</div>
	</div>
</div>

<div class='article-sidebar-item-wrapper'>
	<div class='ad-filler'>
		Ad Space
	</div>
</div>

<div class='article-sidebar-item-wrapper'>
	<%= render 'shared/articles/sidebar/latest_questions', article: article %>
</div>

<div class='article-sidebar-item-wrapper'>
	<div class='ad-filler'>
		Ad Space
	</div>
</div>

<div class='article-sidebar-item-wrapper'>
	<%= render 'shared/articles/sidebar/latest_revisions' %>
</div>
