<header id="header-main">

	<div id="header-logo">
		<%= render 'shared/header/logo' %>
	</div>

	<div id='menu-wrapper'>

		<%= render 'shared/header/top_nav' %>

		<div id="games-menu-wrapper">
			<%= render 'shared/header/games_nav' %>
		</div>

	</div>

</header>
