<header id="header-main">
	<div id="header-logo">
		<a href='/'>
			<%= image_tag "logo.png" %>
		</a>			
	</div>
	<div id="menu-wrapper">
		<div id="top-menu-wrapper">
			<div class='top-menu'>
				<nav>
					<ul>
						<li>
							<a href=#'>
								Home
							</a>
						</li>
						<li>
							<a href=#'>
								Training
							</a>
						</li>
						<li>
							<a href=#'>
								Resources
							</a>
						</li>
						<li>
							<a href=#'>
								Blog
							</a>
						</li>
						<li>
							<a href=#'>
								Support
							</a>
						</li>
					</ul>
				</nav>
			</div>
			<div class='top-search'>
				<input type='text' />
			</div>
			<div class='top-account'>
				<nav>
					<button>Log In</button>
					<button>Sign Up</button>
				</nav>
			</div>
		</div>
		<div id="games-menu-wrapper">
			<nav>
				<ul>
					<li class='inline-list-item'>
						<a href=#'>
							Street Fighter V
						</a>
					</li>
					<li class='inline-list-item'>
						<a href=#'>
							Tekken 7
						</a>
					</li>
					<li class='inline-list-item'>
						<a href=#'>
							King of Fighters XIV
						</a>
					</li>
					<li class='inline-list-item'>
						<a href=#'>
							BlazBlue CP:FX
						</a>
					</li>
					<li class='inline-list-item'>
						<a href=#'>
							Rising Thunder
						</a>
					</li>
					<li class='inline-list-item'>
						<a href=#'>
							Super Smash Bros [Wii U]
						</a>
					</li>
					<li class='inline-list-item'>
						<a href=#'>
							Mortal Kombat X
						</a>
					</li>
					<li class='inline-list-item'>
						<a href=#'>
							Injustice
						</a>
					</li>
					<li class='inline-list-item'>
						<a href=#'>
							Street Fighter III: 3S
						</a>
					</li>
					<li class='inline-list-item'>
						<a href=#'>
							Tekken vs Street Fighter
						</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</header>
