<div class="tag-cloud">
	<div class='tag'>
		<a href='#'>
			Strategy
		</a>
		</div> <div class='tag'>
		<a href='#'>
			Matchup A Longer
		</a>
	</div>
	<div class='tag'>
		<a href='#'>
			Strategy
		</a>
	</div>
	<div class='tag'>
		<a href='#'>
			Footsies
		</a>
	</div>
	<div class='tag'>
		<a href='#'>
			Training For Success
		</a>
	</div>
	<div class='tag'>
		<a href='#'>
			Beginners
		</a>
	</div>
	<div class='tag'>
		<a href='#'>
			Matchups
		</a>
	</div>
	<div class='tag'>
		<a href='#'>
			Strategy
		</a>
	</div>
	<div class='tag'>
		<a href='#'>
			Footsies
		</a>
	</div>
	<div class='tag'>
		<a href='#'>
			Training
		</a>
	</div>
	<div class='tag'>
		<a href='#'>
			Beginners
		</a>
	</div>
</div>
