// - Colors by Name - //
$orange: 		#FF9C17;
$green:			#12c477;
$blue:			#1C75BC;
$red:			#D51400;
$darkgray:		#444; $lightgray:		#CECECE;
$white:			#FFF;

$orange-dark: 		shade($orange, 20);
$orange-darker: 	shade($orange, 40);
$orange-light:		tint($orange, 20);
$orange-lighter:	tint($orange, 40);
$blue-dark: 		shade($blue, 20);
$blue-darker: 		shade($blue, 40);
$blue-light:		tint($blue, 20);
$blue-lighter:		tint($blue, 40);
$green-dark: 		shade($green, 20);
$green-darker: 		shade($green, 40);
$green-light:		tint($green, 20);
$green-lighter:		tint($green, 40);
$red-dark: 			shade($red, 20);
$red-darker: 		shade($red, 40);
$red-light:			tint($red, 20);
$red-lighter:		tint($red, 40);

// - Colors By Purpose - //
$text-base:				$darkgray;
$link-text:				$blue;
$link-text-hover:		$blue-light;

// - Colors By Section - //
// Header

$header-top-menu-background:			$blue;
$header-top-menu-background-hover:		$blue-light;
$header-top-menu-text:					$white;

$games-menu-background:					$orange;
$games-menu-background-hover:			$orange-light;
$games-menu-text:						$white;

// Character Image Menu
$character-menu-base-background: 				rgba(0,0,0,0.75);
$character-menu-options-background:				$blue-darker;
$character-menu-options-background-hover:		$blue-dark;
$character-menu-name-text:						$darkgray;

// Tags
$tag-text:										$orange-dark;
$tag-text-hover:								$orange-light;
$tag-background:								$white;
$tag-background-hover:							rgba(206,206,206, 0.1);

// Buttons & Controls
$filter-button-background: 						$white;
$filter-button-text:							$darkgray;
$filter-button-text-alt:						$white;
$filter-button-background-active: 				$blue-light;
$filter-button-background-hover:				$blue-dark;
$filter-button-border-color:					$lightgray;

// Revision Base Color
$revision-base-color:							$green-light;

// Question Base Color
$question-base-color:							$blue-light;
