<div class='content-wrapper'>

	<%= render "shared/articles/character_menu", characters: @characters, game: @game %> 

	<div class='article-index-wrapper'>
		<%= render "shared/articles/article_list", articles: @articles, title: @game.title %>
	</div>

	<div class='sidebar'>
		<div class='new-article-cta'>
			<a href='#'>
				Submit a New Article
			</a>
		</div>
		<div class='beginners-guide-cta'>
			<h2>New To SFV?</h2>
			<div>Get Started With Our</div>
			<div><a href='#'>SFV Beginner's Guide</a></div>
		</div>
		<div class='ad-filler'>
			AD SPACE
		</div>

		<%= render "shared/tag_cloud" %>

		<div class='ad-filler'>
			AD SPACE
		</div>
	</div>
</div>
