@import "settings/base";

@import "header/base";
@import "components/base";
@import "article/base";
@import "game";
@import "character";
@import "frame_data";
@import "components";


/* Very Base Styles */
.container {
	@include outer-container;
}

html, body {
	margin: 0;
	padding: 0;
	font-family: $copy-font;
}

/* List Styles */
.inline-list-item {
	float: left;
	display: inline-block;
}
