@import "variables";
@import "typography";
@import "header_main";
@import "game";
@import "character";
@import "article";
@import "frame_data";
@import "components";

/* Very Base Styles */
.container {
	@include outer-container;
}

html, body {
	margin: 0;
	padding: 0;
	font-family: $copy-font;
}

/* List Styles */
.inline-list-item {
	float: left;
	display: inline-block;
}
