/* Modal Window Styles */

// Header
.modal-header {
	width: 100%;
	padding: 0.8em 0;
	border-bottom: 1px solid #cecece;
	position: absolute;
	top: 0;
	left: 0;
	background: lightgray;

	h2 {
		@include span-columns(10);
		padding-left: 1em;
		margin-bottom: 0;
	}

	.close {
		@include span-columns(2);
	}
}
.close {
	position: relative;

	span {
		position: absolute;
		right: 0.5em;
		top: -0.2em;
		width: 1em;
		height: 1em;
		text-align: center;
		font-size: 2.5em;
		line-height: 0.84em;
		font-weight: 900;
		border-radius: 5em;
		cursor: pointer;
		background: gray;
	}

	span:hover {
		background: blue;
	}
}

.modal-content-container {
	width: 1100px;
	height: 100%;
	margin: 0 auto;
	background: white;
	padding: 0 2em;
	position: relative;

	 #article-modal-content {
		padding-top: 3.15em;
		width: 100%;
		height: 100%;
		border: none;
	}
}

// Article Show
#article-modal {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.3);
	display: none;
}

