/* Typography */
/* Defines SASS Variables and Settings for Fonts, Headings, Etc */

$font-lato: "Lato", Helvetica, sans-serif;
$font-dosis: "Dosis", $font-lato;

h1, h2, h3, h4, h5, h6 {
	font-family: $font-lato;
}

h1 {
	font-size: 2.2em;
	margin-bottom: 0.2em;
	font-weight: 500;
	font-family: $font-dosis;
}
h2 {
	margin-top: 1.7em;
	font-size: 1.2em;
	font-weight: 500;
}

a {
	color: $darkblueshade;

	&:hover {
		color: $blueshade;
	}
}

p {
	margin-bottom: 1.2em;
}
