/* Variables */
/* Holds variables for site-wide styles (mostly colors) */

// - Colors - //
$orange: 		#ECA400;
$blue: 			#1C75BC;
$green:			#44AF69;
$white: 		#FFF;
$darkgray: 		#444;
$lightgray:		#cecece;

$blueshade: shade($blue, 20);
$darkblueshade: shade($blueshade, 40);
$bluetint: tint($blue, 20);
$lightorange: tint($orange, 20);
$orangetint: $lightorange;
$orangeshade: shade($orange, 20);
$darkorangeshade: darken(shade($orange, 20), 20);


// - Sectional Colors - //

// Link
$link-text: 									$blue;
$link-text-hover: 								$bluetint;

// Buttons & Controls
$filter-button-background: 						$white;
$filter-button-text:							$darkgray;
$filter-button-text-alt:						$white;
$filter-button-background-active: 				$bluetint;
$filter-button-background-hover:				$blueshade;
$filter-button-border-color:					$lightgray;

// Header
$header-top-menu-background: 					$blue;
$header-top-menu-background-hover:  			$blueshade;
$header-top-menu-text: 							$white;

$games-menu-background: 						$orange;
$games-menu-background-hover: 					$orangetint;
$games-menu-text: 								$white;

// Character Image Menu
$character-menu-base-background: 				rgba(0,0,0,0.75);
$character-menu-options-background:				$darkblueshade;
$character-menu-options-background-hover:		$blueshade;
$character-menu-name-text:						$darkgray;

// Tags
$tag-text:										$orangeshade;
$tag-text-hover:								$orangetint;
$tag-background:								$white;
$tag-background-hover:							rgba(206,206,206, 0.1);
