/* Variables */
/* Holds variables for site-wide styles (mostly colors) */

// - Colors - //
$orange: #E7BB41;
$blue: #ADD8E3;

$blueshade: shade($blue, 20);
$darkblueshade: darken(shade($blue, 20), 20);
$orangeshade: shade($orange, 20);
$darkorangeshade: darken(shade($orange, 20), 20);
