<div class='breadcrumbs'>
	<div class='crumb'>
		<a href='#'>Learn</a>
	</div>
	<div class='crumb-separator'>
		>
	</div>
	<div class='crumb'>
		<a href='#'>Street Fighter V</a>
	</div>
	<div class='crumb-separator'>
		>
	</div>
	<div class='crumb'>
		<a href='#'>Ryu</a>
	</div>
	<div class='crumb-separator'>
		>
	</div>
	<div class='crumb'>
		<span>Frame Data</span>
	</div>
</div>
<div class='content-wrapper'>
	<%= render 'shared/articles/character_individual_menu', character: @character, game: @game %>
</div>
<div class='sidebar'>
	<div class='new-article-cta'>
		<a href='#'>
			Something Wrong? Let us know!
		</a>
	</div>
	<div class='sidebar-content'>
		<h3>Important Note About Frame Data</h3>
		<p>Information provided by the frame data is always subject to change. We work very hardto respond quickly to and test any suggested changes to the frame data by our users. All data informing you of which moves links to another is based solely on the frame data mathematics and does not take into account game mechanics that might cause these links to be impossible such as spacing, knockback, counters, etc.
		</p>
		<p><a href='#'>For help understanding frame data, check out our Frame Data Primer</a></p>
	</div>
	<div class='ad-filler'>
		AD SPACE
	</div>
	<div class='ad-filler'>
		AD SPACE
	</div>
	<div class='ad-filler'>
		AD SPACE
	</div>
</div>
</div>
