<% breadcrumb :frame_data, @character %>
<div class='content-wrapper'>
	<%= render 'shared/articles/character_individual_menu', character: @character, game: @game %>
	<div class='frame-data-wrapper'>
		<div class='frame-data-header'>
			<nav>
				<ul>
					<li>
						<a href='#'>
							Normal Moves
						</a>
					</li>
					<li>
						<a href='#special'>
							Special Moves
						</a>
					</li>
					<li>
						<a href='#'>
							Universal Moves
						</a>
					</li>
					<li class='filter-input'>
						<input type='text' placeholder='Filter by text...' />
					</li>
				</ul>
			</nav>
		</div>
		<div class='frame-data-table-wrapper'>
			<table class='frame-data-table-header'>
				<thead>
					<tr>
						<th>Move</th>
						<th>Input</th>
						<th>Damage</th>
						<th>Stun</th>
						<th>Hit Level</th>
						<th>Cancelable</th>
						<th>Startup</th>
						<th>Active</th>
						<th>Recovery</th>
						<th>Block Adv</th>
						<th>Hit Adv</th>
					</tr>
				</thead>	
			</table>
			<div class='frame-data-table-body'>
				<table class='frame-data-table-body'>
					<tbody>
						<tr>
							<td>Light Punch</td>
							<td>(LP)</td>
							<td>25</td>
							<td>10</td>
							<td>H</td>
							<td>None</td>
							<td>4</td>
							<td>2</td>
							<td>3</td>
							<td>+1</td>
							<td>+3</td>
						</tr>	
						<tr class='frame-data-move-dropdown'>
							<td colspan='11'>
								<div class='frame-data-additional'>
									Nicknames: Jab
								</div>
								<div class='frame-data-additional'>
									Linkable Into: None | Cancelable Into: None
								</div>
							</td>
						</tr>
						<tr class='data-row'>
							<td>Medium Punch</td>
							<td>(MP)</td>
							<td>40</td>
							<td>15</td>
							<td>H</td>
							<td>SP/SU</td>
							<td>6</td>
							<td>3</td>
							<td>8</td>
							<td>0</td>
							<td>+6</td>
						</tr>	
						<tr class='frame-data-move-dropdown'>
							<td colspan='11'>
								<div class='frame-data-additional'>
									Nicknames: Strong
								</div>
								<div class='frame-data-additional'>
									Linkable Into: cr.HP | Cancelable Into: Critical Art, All Special Moves
								</div>
							</td>
						</tr>
						<tr class='data-row'>
							<td>Heavy Punch</td>
							<td>(HP)</td>
							<td>70</td>
							<td>25</td>
							<td>H</td>
							<td>SP/SU</td>
							<td>9</td>
							<td>5</td>
							<td>10</td>
							<td>-2</td>
							<td>+2</td>
						</tr>	
						<tr class='frame-data-move-dropdown'>
							<td colspan='11'>
								<div class='frame-data-additional'>
									Nicknames: Fierce
								</div>
								<div class='frame-data-additional'>
									Linkable Into: None | Cancelable Into: None
								</div>
							</td>
						</tr>
						<tr class='data-row'>
							<td>Light Kick</td>
							<td>(LK)</td>
							<td>25</td>
							<td>10</td>
							<td>H</td>
							<td>None</td>
							<td>4</td>
							<td>2</td>
							<td>5</td>
							<td>+1</td>
							<td>+3</td>
						</tr>	
						<tr class='frame-data-move-dropdown'>
							<td colspan='11'>
								<div class='frame-data-additional'>
									Nicknames: Short
								</div>
								<div class='frame-data-additional'>
									Linkable Into: None | Cancelable Into: None
								</div>
							</td>
						</tr>
						<tr>
							<td>Light Punch</td>
							<td>(LP)</td>
							<td>25</td>
							<td>10</td>
							<td>H</td>
							<td>None</td>
							<td>4</td>
							<td>2</td>
							<td>3</td>
							<td>+1</td>
							<td>+3</td>
						</tr>	
						<tr class='frame-data-move-dropdown'>
							<td colspan='11'>
								<div class='frame-data-additional'>
									Nicknames: Jab
								</div>
								<div class='frame-data-additional'>
									Linkable Into: None | Cancelable Into: None
								</div>
							</td>
						</tr>
						<tr class='data-row'>
							<td>Medium Punch</td>
							<td>(MP)</td>
							<td>40</td>
							<td>15</td>
							<td>H</td>
							<td>SP/SU</td>
							<td>6</td>
							<td>3</td>
							<td>8</td>
							<td>0</td>
							<td>+6</td>
						</tr>	
						<tr class='frame-data-move-dropdown'>
							<td colspan='11'>
								<div class='frame-data-additional'>
									Nicknames: Strong
								</div>
								<div class='frame-data-additional'>
									Linkable Into: cr.HP | Cancelable Into: Critical Art, All Special Moves
								</div>
							</td>
						</tr>
						<tr class='data-row'>
							<td>Heavy Punch</td>
							<td>(HP)</td>
							<td>70</td>
							<td>25</td>
							<td>H</td>
							<td>SP/SU</td>
							<td>9</td>
							<td>5</td>
							<td>10</td>
							<td>-2</td>
							<td>+2</td>
						</tr>	
						<tr class='frame-data-move-dropdown'>
							<td colspan='11'>
								<div class='frame-data-additional'>
									Nicknames: Fierce
								</div>
								<div class='frame-data-additional'>
									Linkable Into: None | Cancelable Into: None
								</div>
							</td>
						</tr>
						<tr class='data-row'>
							<td>Light Kick</td>
							<td>(LK)</td>
							<td>25</td>
							<td>10</td>
							<td>H</td>
							<td>None</td>
							<td>4</td>
							<td>2</td>
							<td>5</td>
							<td>+1</td>
							<td>+3</td>
						</tr>	
						<tr class='frame-data-move-dropdown'>
							<td colspan='11'>
								<div class='frame-data-additional'>
									Nicknames: Short
								</div>
								<div class='frame-data-additional'>
									Linkable Into: None | Cancelable Into: None
								</div>
							</td>
						</tr>
						<tr>
							<td>Light Punch</td>
							<td>(LP)</td>
							<td>25</td>
							<td>10</td>
							<td>H</td>
							<td>None</td>
							<td>4</td>
							<td>2</td>
							<td>3</td>
							<td>+1</td>
							<td>+3</td>
						</tr>	
						<tr class='frame-data-move-dropdown'>
							<td colspan='11'>
								<div class='frame-data-additional'>
									Nicknames: Jab
								</div>
								<div class='frame-data-additional'>
									Linkable Into: None | Cancelable Into: None
								</div>
							</td>
						</tr>
						<tr class='data-row'>
							<td>Medium Punch</td>
							<td>(MP)</td>
							<td>40</td>
							<td>15</td>
							<td>H</td>
							<td>SP/SU</td>
							<td>6</td>
							<td>3</td>
							<td>8</td>
							<td>0</td>
							<td>+6</td>
						</tr>	
						<tr class='frame-data-move-dropdown'>
							<td colspan='11'>
								<div class='frame-data-additional'>
									Nicknames: Strong
								</div>
								<div class='frame-data-additional'>
									Linkable Into: cr.HP | Cancelable Into: Critical Art, All Special Moves
								</div>
							</td>
						</tr>
						<tr class='data-row'>
							<td>Heavy Punch</td>
							<td>(HP)</td>
							<td>70</td>
							<td>25</td>
							<td>H</td>
							<td>SP/SU</td>
							<td>9</td>
							<td>5</td>
							<td>10</td>
							<td>-2</td>
							<td>+2</td>
						</tr>	
						<tr class='frame-data-move-dropdown'>
							<td colspan='11'>
								<div class='frame-data-additional'>
									Nicknames: Fierce
								</div>
								<div class='frame-data-additional'>
									Linkable Into: None | Cancelable Into: None
								</div>
							</td>
						</tr>
						<tr class='data-row'>
							<td>Light Kick</td>
							<td>(LK)</td>
							<td>25</td>
							<td>10</td>
							<td>H</td>
							<td>None</td>
							<td>4</td>
							<td>2</td>
							<td>5</td>
							<td>+1</td>
							<td>+3</td>
						</tr>	
						<tr class='frame-data-move-dropdown'>
							<td colspan='11'>
								<div class='frame-data-additional'>
									Nicknames: Short
								</div>
								<div class='frame-data-additional'>
									Linkable Into: None | Cancelable Into: None
								</div>
							</td>
						</tr>
						<tr>
							<td>Light Punch</td>
							<td>(LP)</td>
							<td>25</td>
							<td>10</td>
							<td>H</td>
							<td>None</td>
							<td>4</td>
							<td>2</td>
							<td>3</td>
							<td>+1</td>
							<td>+3</td>
						</tr>	
						<tr class='frame-data-move-dropdown'>
							<td colspan='11'>
								<div class='frame-data-additional'>
									Nicknames: Jab
								</div>
								<div class='frame-data-additional'>
									Linkable Into: None | Cancelable Into: None
								</div>
							</td>
						</tr>
						<tr class='data-row'>
							<td>Medium Punch</td>
							<td>(MP)</td>
							<td>40</td>
							<td>15</td>
							<td>H</td>
							<td>SP/SU</td>
							<td>6</td>
							<td>3</td>
							<td>8</td>
							<td>0</td>
							<td>+6</td>
						</tr>	
						<tr class='frame-data-move-dropdown'>
							<td colspan='11'>
								<div class='frame-data-additional'>
									Nicknames: Strong
								</div>
								<div class='frame-data-additional'>
									Linkable Into: cr.HP | Cancelable Into: Critical Art, All Special Moves
								</div>
							</td>
						</tr>
						<tr class='data-row'>
							<td>Heavy Punch</td>
							<td>(HP)</td>
							<td>70</td>
							<td>25</td>
							<td>H</td>
							<td>SP/SU</td>
							<td>9</td>
							<td>5</td>
							<td>10</td>
							<td>-2</td>
							<td>+2</td>
						</tr>	
						<tr class='frame-data-move-dropdown'>
							<td colspan='11'>
								<div class='frame-data-additional'>
									Nicknames: Fierce
								</div>
								<div class='frame-data-additional'>
									Linkable Into: None | Cancelable Into: None
								</div>
							</td>
						</tr>
						<tr class='data-row'>
							<td>Light Kick</td>
							<td>(LK)</td>
							<td>25</td>
							<td>10</td>
							<td>H</td>
							<td>None</td>
							<td>4</td>
							<td>2</td>
							<td>5</td>
							<td>+1</td>
							<td>+3</td>
						</tr>	
						<tr class='frame-data-move-dropdown'>
							<td colspan='11'>
								<div class='frame-data-additional'>
									Nicknames: Short
								</div>
								<div class='frame-data-additional'>
									Linkable Into: None | Cancelable Into: None
								</div>
							</td>
						</tr>
						<tr>
							<td>Light Punch</td>
							<td>(LP)</td>
							<td>25</td>
							<td>10</td>
							<td>H</td>
							<td>None</td>
							<td>4</td>
							<td>2</td>
							<td>3</td>
							<td>+1</td>
							<td>+3</td>
						</tr>	
						<tr class='frame-data-move-dropdown'>
							<td colspan='11'>
								<div class='frame-data-additional'>
									Nicknames: Jab
								</div>
								<div class='frame-data-additional'>
									Linkable Into: None | Cancelable Into: None
								</div>
							</td>
						</tr>
						<tr class='data-row'>
							<td>Medium Punch</td>
							<td>(MP)</td>
							<td>40</td>
							<td>15</td>
							<td>H</td>
							<td>SP/SU</td>
							<td>6</td>
							<td>3</td>
							<td>8</td>
							<td>0</td>
							<td>+6</td>
						</tr>	
						<tr class='frame-data-move-dropdown'>
							<td colspan='11'>
								<div class='frame-data-additional'>
									Nicknames: Strong
								</div>
								<div class='frame-data-additional'>
									Linkable Into: cr.HP | Cancelable Into: Critical Art, All Special Moves
								</div>
							</td>
						</tr>
						<tr class='data-row'>
							<td>Heavy Punch</td>
							<td>(HP)</td>
							<td>70</td>
							<td>25</td>
							<td>H</td>
							<td>SP/SU</td>
							<td>9</td>
							<td>5</td>
							<td>10</td>
							<td>-2</td>
							<td>+2</td>
						</tr>	
						<tr class='frame-data-move-dropdown'>
							<td colspan='11'>
								<div class='frame-data-additional'>
									Nicknames: Fierce
								</div>
								<div class='frame-data-additional'>
									Linkable Into: None | Cancelable Into: None
								</div>
							</td>
						</tr>
						<tr class='data-row' id='special'>
							<td>Light Kick</td>
							<td>(LK)</td>
							<td>25</td>
							<td>10</td>
							<td>H</td>
							<td>None</td>
							<td>4</td>
							<td>2</td>
							<td>5</td>
							<td>+1</td>
							<td>+3</td>
						</tr>	
						<tr class='frame-data-move-dropdown'>
							<td colspan='11'>
								<div class='frame-data-additional'>
									Nicknames: Short
								</div>
								<div class='frame-data-additional'>
									Linkable Into: None | Cancelable Into: None
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class='sidebar'>
		<div class='new-article-cta'>
			<a href='#'>
				Something Wrong? Let us know!
			</a>
		</div>
		<div class='sidebar-content'>
			<h3>Important Note About Frame Data</h3>
			<p>Information provided by the frame data is always subject to change. We work very hardto respond quickly to and test any suggested changes to the frame data by our users. All data informing you of which moves links to another is based solely on the frame data mathematics and does not take into account game mechanics that might cause these links to be impossible such as spacing, knockback, counters, etc.
			</p>
			<p><a href='#'>For help understanding frame data, check out our Frame Data Primer</a></p>
		</div>
		<div class='ad-filler'>
			AD SPACE
		</div>
		<div class='ad-filler'>
			AD SPACE
		</div>
		<div class='ad-filler'>
			AD SPACE
		</div>
	</div>
</div>
