<h3 class='revisions-header'>Latest Revision Suggestions</h3>
<a href="#">View All Revisions</a>
<div class='article-sidebar-item'>
	<a href='#'>
		<h4 class='article-sidebar-title'>
			Grammatical errors fixed
		</h4>
	</a>
	<div class='article-sidebar-user'>
		suggested by <a href='#'>ROBYOMAMA</a> on 4 Apr 2016
	</div>
	<div class='article-sidebar-meta'>
		14 Comments
	</div>
</div>
<div class='article-sidebar-item'>
	<a href='#'>
		<h4 class='article-sidebar-title'>
			Added a bit to the section about recording/replaying the bot
		</h4>
	</a>
	<div class='article-sidebar-user'>
		suggested by <a href='#'>sumguy</a> 25 Mar 2016
	</div>
	<div class='article-sidebar-meta'>
		8 Comments
	</div>
</div>
<div class='article-sidebar-item'>
	<a href='#'>
		<h4 class='article-sidebar-title'>
			The part about people sucking should be removed, it hurts feelings.
		</h4>
	</a>
	<div class='article-sidebar-user'>
		suggested by <a href='#'>sn4k3yzeXx88xX</a> on 12 Mar 2016
	</div>
	<div class='article-sidebar-meta'>
		21 Comments
	</div>
</div>
