<h3 class='questions-header'>Latest Questions</h3>

<%= link_to "View All Questions", article_questions_path(article_id: article.slug) %>

<div class='article-sidebar-item'>
	<a href='#'>
		<h4 class='article-sidebar-title'>
			What settings do you like when practicing punishes?
		</h4>
	</a>
	<div class='article-sidebar-user'>
		asked by <a href='#'>ROBYOMAMA</a> on 4 Apr 2016
	</div>
	<div class='article-sidebar-meta'>
		14 Answers
	</div>
</div>
<div class='article-sidebar-item'>
	<a href='#'>
		<h4 class='article-sidebar-title'>
			How much time should I spend in the training room?
		</h4>
	</a>
	<div class='article-sidebar-user'>
		asked by <a href='#'>sumguy</a> 25 Mar 2016
	</div>
	<div class='article-sidebar-meta'>
		8 Answers
	</div>
</div>
<div class='article-sidebar-item'>
	<a href='#'>
		<h4 class='article-sidebar-title'>
			Does anybody have recommendations on how to practice crush counters?
		</h4>
	</a>
	<div class='article-sidebar-user'>
		asked by <a href='#'>sn4k3yzeXx88xX</a> on 12 Mar 2016
	</div>
	<div class='article-sidebar-meta'>
		21 Answers
	</div>
</div>
