<div class='article-side-menu'>
	<div class='article-votes'>
		<div class="vote-button vote-minus">
			<a href='#'>-</a>
		</div>
		<div class="vote-count">
			<div class='count'>12</div>
			<div class='subtext'>Votes</div>
		</div>
		<div class="vote-button vote-plus">
			<a href='#'>+</a>
		</div>
	</div>

	<div class='article-side-button question-link-button'>
		<a href='#'>
			9 Questions & 25 Answers
		</a>
	</div>
	<div class='article-side-button revision-link-button'>
		<a href='#'>
			4 Pending Suggestions
		</a>
	</div>
</div>
